/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;-
}

body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
	background-color: #414754;
}

footer {
	padding: 0.7rem;
}
#about-me img {
	border-radius: 100px;
}

#about-me {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #E3E8F0;
	text-decoration-color: #414754;
}

#projects .card {
	display: inline;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
}

#projects button {
	color: white;
	font-weight: bold;
	background-color: #414754;
	border-radius: 16px;
	font-size: 1rem;
	padding: 1rem;
}

footer span	{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
